<%- include("header") -%>

<h1>This is about page</h1>
<p>kjdnfkjsdjkfskdjfdskfsdlsjflijsdlkfsdklfmlkdsmflksdmfdm</p>
<p>kjdnfkjsdjkfskdjfdskfsdlsjflijsdlkfsdklfmlkdsmflksdmfdm</p>
<p>kjdnfkjsdjkfskdjfdskfsdlsjflijsdlkfsdklfmlkdsmflksdmfdm</p>
<p>kjdnfkjsdjkfskdjfdskfsdlsjflijsdlkfsdklfmlkdsmflksdmfdm</p>
<p>kjdnfkjsdjkfskdjfdskfsdlsjflijsdlkfsdklfmlkdsmflksdmfdm</p>
<p>kjdnfkjsdjkfskdjfdskfsdlsjflijsdlkfsdklfmlkdsmflksdmfdm</p>

<%- include("footer") -%>
